.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
    margin: 30px auto;
    /* gap: 10px; */
}

.item {
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}